.call-center
    position: relative
    &__design-rect
        position: absolute
        top: 77px
        left: 0
        z-index: -1
    &__title
        color: #002B42
        & span
            color: $primary
    &__hero
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__figure
        position: relative
        margin: 0
        flex-basis: 50%
        align-self: center
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            width: 509px
            height: 312px
            background: #002B42
            border-radius: 5px
    &__img
        position: relative
        margin-top: 30px
        margin-left: 30px
        width: 560px
        height: 373px
        border-radius: 5px
        z-index: 2
    &__content
    &__text
        margin: 0
        margin-left: 40px
        margin-bottom: 50px
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 23px
        line-height: 187%
        color: $text-color
        flex-basis: 49%
        align-self: center
    &__btn
        margin: auto