.equipment
    padding-top: 50px
    padding-bottom: 50px
    &__title
        margin: 0
        margin-bottom: 30px
        color: #002B42
        & span
            color: $primary
    &__mob-title
        display: none
    &__list
        position: relative
    &__curve
        position: absolute
        top: 10%
        left: 20%
        z-index: -1
    &__item
        display: flex
        justify-content: space-between
        align-items: flex-start
        margin-bottom: 30px
        &:last-child
            margin-bottom: 0
    &__img
        width: 375px
        margin-right: 20px
    &__text-wrapper
        max-width: 720px
        font-family: 'Montserrat'
        font-style: normal
        font-size: 23px
        line-height: 187%
        color: #3A3A3C
    &__name
        margin: 0
        margin-bottom: 20px
        font-weight: 700
        line-height: 187%
    &__text
        font-weight: 400
        padding-left: 30px
        line-height: 187%
.row-reverse .equipment__img
    margin-right: 0
    margin-left: 20px

@media screen and (max-width: 1020px)
    .equipment
        &__curve
            display: none
@media screen and (max-width: 860px)
    .equipment
        &__item
            flex-direction: column-reverse
        &__text
            padding-left: 0px
            text-align: center
        &__name
            text-align: center
        &__img
            margin: auto
            width: 80%
        &__text-wrapper
            max-width: none
    .row-reverse .equipment__img
        margin: auto
@media screen and (max-width: 600px)
    .equipment
        &__title
            display: none
        &__mob-title
            display: block