.head-wrapper
    width: 100%
    background: url('../assets/header-bg.png') no-repeat
    background-size: 100% 100%
.header
    width: 100%
    position: relative
    background: #fff
    padding: 8px 0 15px
    &__hero
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 11px
    &__city-select
        display: flex
        align-items: center
        cursor: pointer
        flex-basis: 35%
    &__map-pin
        width: 32px
        height: 32px
    &__city
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 120%
        color: $text-color
    &__logo
        width: 186px
        height: 80px
    &__call-wrapper
        display: flex
        align-items: center
    &__call-link
        text-decoration: none
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 120%
        letter-spacing: -0.02em
        color: $text-color
        margin-right: 11px
        & span
            font-weight: 500
            font-size: 24px
    &__btn
    &__burger
        display: none
        cursor: pointer
@media screen and (max-width: 1020px)
    .header
        &__call-link
            display: none
        &__city-select
            flex-basis: 25% !important
@media screen and (max-width: 860px)
    .header
        padding-bottom: 8px
        &__hero
            flex-direction: row-reverse
        &__city
            display: none
        &__city-select
            flex-basis: 5% !important
        &__btn
            display: none
        &__burger
            display: block
@media screen and (max-width: 480px)
    .header
        padding-top: 20px
        &__logo
            width: 84px
            height: 36px