.tracking
    min-height: 900px
    background: url('../assets/tracking.png') no-repeat
    background-size: 100% 100%
    padding-top: 100px
    &__title
        margin: 0
        margin-bottom: 30px
        color: #fff
        text-align: left
        & span
            color: $primary
    &__text
        width: 661px
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 500
        font-size: 23px
        line-height: 187%
        color: #FFFFFF
        margin-bottom: 30px